@import url(layout.css);

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

article {
  background-color: #ffffff;
  flex: 1 1 400px;
  border-radius: 12px;
  margin-bottom: 25px;
  padding: 16px;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(255, 23, 23, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
article:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.45);
}

article button {
  margin: 0px 2px;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
  padding: 20px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span {
  margin-right: 4px;
}


.genre {
  background-color: #007BFF;
  color: white;
  padding: 4px 8px;
  border-radius: 8px;
  margin-right: 6px;
  display: inline-block;
  font-size: 1em;
}
