@import url(base.css);

h1 {
  font-size: 200%;
  margin: 8px 0px;
}

html,
body {
  margin: 0px;
  height: 100vh;
}

/* The nav's header and button list will be centered */
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  margin-top: 0px;
  padding: 2px;
  list-style-type: none;
}

body {
  display: grid;
  grid-template-rows: 92px auto 64px;
  grid-template-columns: 192px auto;
  grid-template-areas: "h h" "n m" "f f";
  margin: 0;
}

header {
  grid-area: h;
}

nav {
  grid-area: n;
}

main {
  grid-area: m;
  overflow-y: auto;
}

footer {
  grid-area: f;
}

nav > ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
  margin: 16px;
  list-style-type: none;
}

footer > ul {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  justify-content: center;
}

article h2 {
  margin-bottom: 0px;
}

/* navigation buttons have full width */
nav button {
  width: 100%;
  border: none;
  border-radius: 8px;
  font-size: 105%;
  font-weight: 600;
  color: #1e3a8a;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.1); /* Sanfter Schatten */
  cursor: pointer;
  transition: all 0.3s ease;
}
nav button:hover {
  background-color: #f8fafc;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

nav button:active {
  transform: translateY(0); /* Klick-Effekt: Button drückt sich nach unten */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

img {
  width: 100%;
  max-width: 300px;
  border-radius: 12px;
  display: block;
  margin-bottom: 10px;
}

a {
  color: beige;
}
